@model InformationModel

<div class="text-center">
    <h1 class="display-4">Welcome BIT 8 grupe</h1>
    <h3>Is course finished? @Model.IsFinished</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
