@model IndexModel

<h2>Registration</h2>

@using (Html.BeginForm("DisplayRegister", "Home", FormMethod.Post))
{
    <div class="container-full" style="background-color:aliceblue">
        <div class="container">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name)

            @Html.LabelFor(x => x.Profession)
            @Html.TextBoxFor(x => x.Profession)
            <input type="submit" value="Submit" />
        </div>
    </div>
}
